p{
text-align: center;
line-height: 1;
}

h1 {
    line-height: 1;
    text-align: center;
}

h2{
    text-align: center;
    line-height: 1;

}

h3{
    text-align: center;
    line-height: 1;
}

iframe{
    display: block;
    margin: auto;
    width: 50%;
}

ul{
    text-align: center;
    line-height: 1;
}

li{
    text-align: center;
    line-height: 1
}

img{
    display: block;
    margin: auto;
    width: 30%;
}