p{
    text-align: center;
    line-height: 2;
    color: white;
}

h1 {
    line-height: 1;
    text-align: center;
    color: white;
}

h2{
    text-align: center;
    line-height: 1;
    color: white;

}

h3{
    text-align: center;
    line-height: 1;
    color: white;
}

iframe{
    display: block;
    margin: auto;
    width: 50%;
    
}

ul{
    line-height: 1.5;
    color: white;
}

li{
    margin-left: 40%;
    line-height: 1
}

img{
    display: block;
    margin: auto;
    width: 30%;
}

body{
    background-color: black;
    line-height: 1.5;
    font-size: 16px;
}